include LICENSE
include README.rst
include requirements/base.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.rst Makefile *.jpg *.png *.gif
